{
	"$schema": "https://json.schemastore.org/swcrc",
	"jsc": {
		"baseUrl": "./",
		"paths": {
			"@root/*": ["src/*"]
		},
		"parser": {
			"syntax": "typescript",
			"tsx": false,
			"dynamicImport": false,
			"decorators": false
		},
		"target": "es2020"
	},
	"minify": true,
	"module": {
		"type": "es6"
	}
}
